body {
    background-color: grey;
    margin: 0px;
}
header img{
    width: 100%;
}

main img {
    display: inline;
    width: 25%;
    border-radius: 50%;
    border: 10px solid rgb(63, 63, 63);
    margin-left: 2.5%;
    margin-right: 2.5%;
}

div {
    margin: 30px;
}